* {
  margin: 0;
  padding: 0;
}

/*Titulo y menu */

.header img {
  width: 100px;
  height: 100px;
}

/*menu princupal*/
.menu {
  padding: 0 20px;
}

.menu li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.menu a {
  display: block;
  padding: 20px;
  margin: 0;
  transition: 0.2s ease all;
}

/*Menu secundario*/

.nav {
  width: 15%;
  float: left;
}

.nav a {
  padding: 30px;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*fooder*/
footer {
  clear: both;
  width: 100%;
}


footer .grupo1 article {
  clear: unset;
  width: 30%;
  float: left;
  margin: 3%;
  padding-left: 10%;
}

footer img {
  width: 20%;
}

@media screen and (max-width: 800px) {
  .header {
    font-size: 30px;
    height: 80px;
    padding: 20px;
  }

  .header img {
    width: 40px;
    height: 40px;
  }

  /*
    .menu {
        font-size: 15px;
    }
*/
  .grupo1 article a img {
    width: 90px;
    height: auto;
  }
}