

/*Primera seccion de articulos*/

.aside2 img,
.aside3 img {
  width: 100%;
}

.aside2 {
  width: 15%;
  float: left;
}

.section4 {
  width: 70%;
  float: left;
}

.section5 {
  clear: both;
  width: 70%;
  margin-left: 15%;
  float: left;
  margin-top: -35%;
}

table, tr, td  {
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 15px;
}

.aside3 {
  width: 15%;
  float: left;
}
