@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300&family=Pacifico&family=Road+Rage&family=Yuji+Syuku&display=swap');

/*Menu secundario*/
.nav {
  float: left;
  width: 15%;
}

.nav a {
  background-color: black;
  height: 30%;
  list-style: none;
  padding: 50px;
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
}

.nav a:hover {
  color: white;
  background: #019cde;
}

/*Primera seccion de articulos*/

.section {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
}

.section1,
.section2,
.section3 {
  margin-left: 15%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
}

.section h1,
.section1 h1,
.section2 h1,
.section3 h1 {
  grid-column: span 3;
  grid-row: span 1;
  text-align: center;
  font-size: 40px;
}

h4,
p {

  text-align: center;
  font-size: 20px;
}

.section img,
.section1 img,
.section2 img,
.section3 img,
.aside2 img,
.aside3 img,
.aside img,
.aside1 img {
  width: 100%;
}


.section article:hover,
.section1 article:hover,
.section2 article:hover,
.section3 article:hover,
.aside2 article:hover,
.aside3 article:hover,
.aside article:hover,
.aside1 article:hover {
  border: 1px solid lightsalmon;
}

.aside {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  float: left;
}


.aside2 {
  width: 15%;
  float: left;
}

.section4 {
  width: 70%;
  float: left;
  background: red;
}

.section5 {
  width: 70%;
  margin-left: 15%;
  float: left;
  background: lightblue;
  margin-top: -38%;

}

table, tr, td  {
  margin: auto;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 15px;
}

.aside3 {
  width: 15%;
  float: left;
  background: lemonchiffon;
}

.aside1 {
  margin-left: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);

}


.aside h1,
.aside1 h1 {
  grid-column: span 3;
  grid-row: span 1;
  text-align: center;
}


@media screen and (max-width: 800px) {
  .nav {
    padding: 0 20px;
    display: inline-block;
  }

  h4,
  p {
    text-align: center;
    font-size: 15px;
  }
}