
.section  {
    width: 70%;
    float: left;
}
.section1 {
    clear: both;
    margin-left: 15%;
    margin-right: 15%;
}
section img{
    width: 60%;
    float: left;
}

section p{
    float: left;
    margin-top: 2%;
    padding: 3%;
    width: 34%;
}

.aside img{
    width: 100%;
    max-width: 50%;
    padding-left: 30%;
}

.aside{
    width: 15%;
    float: left;
}


.aside1 img{
    width: 100%;
}

.aside1{
    clear: both;
}

.aside1 article{
    width: 25%;
    padding: 2%;
    float: left;
    margin: 2%;
}

.section2{
    margin-left: 15%;
    margin-right: 15%;
}

.section2 h2{
    float: left;
    width: 30%;
    font-size: 100%;
}