@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300&family=Pacifico&family=Road+Rage&family=Yuji+Syuku&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yuji Syuku';  
}


/*Seccion 1 */

.descripcion{
  width: 50%;
  float: right;
}
.descripcion h1 {
  color: #019cde;
  text-align: center;
  font-size: 30px;
}

.descripcion p {
  color: black;
  text-align: center;
  font-size: 20px;
}

.descripcion img {
  width: 100%;
  height: 100%;
}

.descripcion2{
  width: 50%;
  float: right;
}
.descripcion2 h1 {
  color: #019cde;
  text-align: center;
  font-size: 30px;
}

.descripcion2 p {
  color: black;
  text-align: center;
  font-size: 20px;
}

.descripcion2 img {
  width: 100%;
  height: 100%;

}

/*Galeria de Imagenes*/
.galeria{
  text-align: center;
  margin: 20px;
}

.galeria li{
  list-style: none;
  display: inline-block;
  width: 400px;
}

.galeria li img{
  width: 100%;
  height: auto;
}

.galeria li:hover{
  border: 1px solid lightsalmon;
}

.galeria li h4,
p {
  max-width: 100%;
  display: block;
  text-align: center;
  font-family: 'Yuji Syuku';
}


